server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://smartshop-db:5432/smartshop
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

logging:
  level:
    org.springframework: DEBUG
    org.SmartShop: DEBUG
    root: INFO

# TVA
app:
  business:
    tva-rate: 0.20